<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<table>
	<tr>
		<td>
			<h1>Professor</h1>


		<fieldset>
		<legend>Login</legend>
		<br/>

			<%= form_for :login_prof do |f| %>
  
  				Login : <%= f.text_field :token %><br/>
  				Senha : <%= f.text_field :token %><br/><br/>
  				<%= f.submit %>
			<% end %>
			<%= link_to 'Cadastrar-se!', controller: 'profs', action: 'new' %> <br/>
			<%= link_to 'Recupera Senha!', controller: 'profs', action: 'reset_senha' %>
		</fieldset>




		</td>
	</tr>

	<tr>
		<td><h1>Aluno</h1></td>
	</tr>
	<tr>
		<td>
		<fieldset>
		<legend>Avaliação</legend>
		<br/>
			<%= form_for :login do |f| %>
  
  				Token : <%= f.text_field :token %><br/><br/>
  				<%= f.submit %>
			<% end %>
		</fieldset>

		</td>
	</tr>
</table>



  

