<%= form_for(@proof_answered) do |f| %>
  <% if @proof_answered.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@proof_answered.errors.count, "error") %>Avaliação</h2>

      <ul>
      <% @proof_answered.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <%= f.hidden_field :name, :value => @name, :class => 'form-control' %>
      <%= f.hidden_field :email, :value => @email, :class => 'form-control' %>
      <%= f.hidden_field :token, :value => @token, :class => 'form-control' %>
  
  <%# if @questions  %>
    <% @questions.each do |proof_issue| %>
    <tr>
      <br>
         <td><strong><%= proof_issue.issue.inunciation %></td></strong>
    </tr><br>
      <%= f.fields_for :answers do |item| %>
        <% opcoes = proof_issue.issue.alternatives.shuffle %>
        <% opcoes.each do |alternativa| %>
        <tr>
           <td><%= item.radio_button(:alternative_id, alternativa.id) %> <%=alternativa.description %>
               <%= item.hidden_field :proof_issue_id, :value => proof_issue.id %>
           </td><br>
        </tr>
        <% end %>
      <% end %>
    <% end %>
  <%# end %>
 
  <%= f.submit nil, :class => 'btn btn-primary' %>
 
<% end %>
