<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @proof_answered.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @proof_answered.email %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @proof_answered.startTime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= session[:aluno_id] %>
</p>

<%#= link_to 'Edit', edit_proof_answered_path(@proof_answered) %> |
<%#= link_to 'Back', proof_answereds_path %>
