<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @prof.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @prof.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @prof.senha %>
</p>

<p>
  <strong>Login:</strong>
  <%= @prof.login %>
</p>

<%= link_to 'Edit', edit_prof_path(@prof) %> |
<%= link_to 'Back', profs_path %>
